CollectAndStoreData.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>368a65a7-018c-1000-aef0-62402774a176</groupId>
    <name>CollectAndStoreData</name>
    <snippet>
        <controllerServices>
            <id>2a313f89-e1f4-3080-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>;\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>7ec50817-0f6f-3ccc-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processors>
            <id>0b4d6f09-df07-3136-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>440.0</x>
                <y>200.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>flatten-json-separator</key>
                        <value>
                            <name>flatten-json-separator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flatten-mode</key>
                        <value>
                            <name>flatten-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flatten-json-return-type</key>
                        <value>
                            <name>flatten-json-return-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flatten-json-character-set</key>
                        <value>
                            <name>flatten-json-character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flatten-json-pretty-print-json</key>
                        <value>
                            <name>flatten-json-pretty-print-json</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>flatten-json-separator</key>
                        <value>.</value>
                    </entry>
                    <entry>
                        <key>flatten-mode</key>
                        <value>normal</value>
                    </entry>
                    <entry>
                        <key>flatten-json-return-type</key>
                        <value>flatten</value>
                    </entry>
                    <entry>
                        <key>flatten-json-character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>flatten-json-pretty-print-json</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>FlattenJson</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.FlattenJson</type>
        </processors>
        <processors>
            <id>14623b5a-fd95-301e-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>608.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>https://api.openweathermap.org/data/2.5/weather?lat=${lat}&amp;lon=${lon}&amp;appid=7148d69f526f18f8a4e123d93452242b,</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Line-by-Line</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>1de9af01-2ab8-3c0f-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>1280.0</x>
                <y>608.0</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                        <value>
                            <name>Kerberos Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>
                            <name>Ignore Locality</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/usr/local/hadoop/etc/hadoop/hdfs-site.xml,/usr/local/hadoop/etc/hadoop/core-site.xml</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/user/kajkaj/weather</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
            <id>435d6560-70a6-300d-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>896.0</x>
                <y>200.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>${txt},${now():format('yyyy-MM-dd HH:mm:ss')}</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>46c61571-375c-3c5b-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>440.0</x>
                <y>608.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>
                            <name>extract-text-enable-named-groups</name>
                        </value>
                    </entry>
                    <entry>
                        <key>url</key>
                        <value>
                            <name>url</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>url</key>
                        <value>(.*?),</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>6e62130a-0a49-3767-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>440.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>7ec50817-0f6f-3ccc-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>2a313f89-e1f4-3080-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>8c3b645b-a1ce-370b-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>440.0</x>
                <y>392.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>400</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>${url}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 mins</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeHTTP</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>c289a14c-1181-3d5e-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>200.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Byte Sequence Format</key>
                        <value>
                            <name>Byte Sequence Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Byte Sequence</key>
                        <value>
                            <name>Byte Sequence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Byte Sequence</key>
                        <value>
                            <name>Keep Byte Sequence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Byte Sequence Location</key>
                        <value>
                            <name>Byte Sequence Location</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Byte Sequence Format</key>
                        <value>Hexadecimal</value>
                    </entry>
                    <entry>
                        <key>Byte Sequence</key>
                        <value>0a</value>
                    </entry>
                    <entry>
                        <key>Keep Byte Sequence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Byte Sequence Location</key>
                        <value>Trailing</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitContent</type>
        </processors>
        <processors>
            <id>c3bb0442-cec4-3009-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>888.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>
                            <name>extract-text-enable-named-groups</name>
                        </value>
                    </entry>
                    <entry>
                        <key>txt</key>
                        <value>
                            <name>txt</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>txt</key>
                        <value>(.*?);</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>cee9eaa9-06cc-3da2-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>392.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>
                            <name>extract-text-enable-named-groups</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lat</key>
                        <value>
                            <name>lat</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lon</key>
                        <value>
                            <name>lon</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>lat</key>
                        <value>.*?,.*?,(.*?),</value>
                    </entry>
                    <entry>
                        <key>lon</key>
                        <value>.*?,.*?,.*?,(.*?),</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>d0d18e20-18f9-3bd1-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>888.0</x>
                <y>608.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${uuid}.csv</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>eb5a725d-35e2-36f4-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/home/vagrant/project</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>worldcities_selected_data.csv</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>4 hrs</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>eee206c7-5fe4-3c04-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>880.0</x>
                <y>392.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>
                            <name>Merge Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>
                            <name>Merge Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Correlation Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Avro</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>mergecontent-metadata-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                        <value>
                            <name>Max Bin Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>
                            <name>Maximum number of Bins</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Delimiter Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Header File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Footer File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Demarcator File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Keep Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>
                            <dependencies>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Tar Modified Time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>Binary Concatenation</value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>Do Not Merge Uncommon Metadata</value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>15000</value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>lon,lat,weather_id,weather_main,weather_description,weather_icon,base,temp,feels_like,temp_min,temp_max,pressure,humidity,visibility,wind_speed,wind_deg,clouds_all,dt,sys_type,sys_id,country,sunrise,sunset,timezone,id,city_name,cod,timestamp
</value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>
</value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>${file.lastModifiedTime}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>15 mins</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
            <id>f4dddd50-81c3-38f6-0000-000000000000</id>
            <parentGroupId>38c985d4-03c8-374f-0000-000000000000</parentGroupId>
            <position>
                <x>1272.0</x>
                <y>312.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/home/vagrant/project/output</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
    </snippet>
    <timestamp>01/09/2024 15:54:04 UTC</timestamp>
</template>
